button a{
    color: red;
    text-decoration: none;;
}
h1 {
    color: blue;
    text-align: center;
    font-size: 50px;
}
h2 {
    color: green;
    font-size: 40px;
}
button {
    font-size: 20px;
}
body {
    font-family: 'Bitcount Prop Double Ink', sans-serif;
    margin: 20px;
}
button {
    font-family: 'Bitcount Prop Double Ink', sans-serif;
}
table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    margin-bottom: 20px;
}
pre{
    font-family: 'Bitcount Prop Double Ink', sans-serif;
    font-size: 20px;
}